<!DOCTYPE html>
<html>
<head>
  <title>Variable Maps</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

  <!-- Your custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<div id="controls">
  <button id="print-map">Download Map Image</button>
  <!-- variable checkboxes will be appended here by JavaScript -->
</div>


  <div id="map" style="height: 600px;"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <!-- EasyPrint JS only, no CSS needed -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easyprint@2.1.9/dist/bundle.min.js"></script>

  <!-- Your map logic -->
  <script src="/static/js/map.js"></script>
</body>
</html>
